.bg{
    margin-top: 50PX;
    padding: 100PX;
    background-color: rgb(241, 232, 125);
}

.bank-title{
    text-align: center;
}
.submit-aria{
    margin-top: 50PX;
    margin: 50px;
    padding: 40px;
    border-radius: 10PX;
    box-shadow: 5PX 5PX 10PX grey;
}
#tz-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20PX;
    border-radius: 10PX;

}
.deposit{
    
    background-color: slateblue;

}
.withdraw{
    background-color: lightsalmon;

}
.balance{
    background-color: orange;

}